[user]
	name = Jonathan H. Fernández
	email = nwrman@gmail.com
[push]
	default = current
	recurseSubmodules = check
[color]
	diff = auto
	status = auto
	branch = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[gc]
	autoDetach = false
[gitflow]
	multi-hotfix = true
[commit]
	gpgSign = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
